---
const base = import.meta.env.BASE_URL.replace(/(\/?)$/, "/");
---

<link rel="stylesheet" href={`${base}pagefind/pagefind-ui.css`} />
<div id="search"></div>
<script is:inline define:vars={{ base }}>
  (function () {
    var s = document.createElement('script');
    s.src = base + 'pagefind/pagefind-ui.js';
    s.onload = function () {
      new window.PagefindUI({ element: '#search', showImages: false });
    };
    document.head.appendChild(s);
  })();
</script>
